@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* front */

* {
    font-family: 'Poppins', sans-serif;
    margin : 0;
    padding : 0;
    box-sizing : border-box; /* size الحاجات اللي بعملها متطلعش بره ال */ 
    scroll-behavior : smooth;
}
/*///////////////////////////////// Header  ////////////////////////////////*/
header{
    background-color:floralwhite ;
    width : 100% ;
    position : fixed ; /* بيخلي الهيدر معايا علطول*/ 
    z-index: 999; /* مفيش حلجة بتغطي علي الهيدر*/
    display: flex;
    justify-content: space-between; /*مسافة بين العناصر اللي في الهيدر*/
    align-items: center;
    padding: 10px 120px;
}
.logo{

    text-decoration: none; /*الخط اللي تحت الكلام*/
    color: rgb(0, 0, 200);/*cornflowerblue*/
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.logo i{
    font-weight: 800;
    font-size: 1em;
}
.navigation a {  

    color: rgb(58, 103, 187);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 550;
    padding-left:  45px;
}
.navigation a:hover{
    color: #48317df1; 
}
/*/////////////////////////////////// Section ////////////////////////////////////*/
section{
    padding: 100px 120px;
    background-color: rgb(255, 255, 255);
    
}
.main{
    width: 100%;
    min-height: 130vh;
    display: flex;
    align-items:center;
    background: url(images/PM.jpeg)no-repeat;
    background-size:contain;
    background-position:bottom right ;
    background-attachment: fixed;/* مش بيشتغل كويس علي الايفون وهو "الصورة بتفضل ثابتة لما بنزل"*/
    background-color: rgb(214, 207, 207);
}
.main h2 {
    color: saddlebrown;
    font-size: 1.4em;
    font-weight: 500;

}
.main h2 span {
    display: inline-block;
    margin-top: 20px;
    color:rgb(76, 40, 15) ;
    font-size: 2em;
    font-weight: 600;

}
.main h3{
    color: rgb(76, 40, 15);
    font-size: 1.7em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 30px;
}
.main-btn{
    color: #fff;
    background-color: rgb(25, 49, 90);
    text-decoration:  none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px; /*انحناء الاطراف*/
    margin-bottom: 30px;/*المسافة بين اللي تحته*/
    transition: 1s ease; /*التكبير بيحصل في قد ايه من الوقت*/
}
.main-btn:hover {
    background-color: rgb(2, 21, 56);
    transform: scale(1.1);/*اللي بيكبر الدائرة*/
}
.social-icons a {
    color: rgb(25, 49, 90);
    font-size: 2em;
    padding-right: 30px;
    padding: 0em 0.4em;
   
}
.social-icons a:hover{

    background-color: rgb(32, 74, 157);
    transform: scale(0.4);
    border-radius: 15px; /*انحناء الاطراف*/
    transition: 1s ease; 
    font-weight: 500;
}
/*///////////////////////////////// section (services) //////////////////////*/

.title{
    display: flex;
    justify-content: center;
    color:rgb(76, 40, 15) ;
    font-size: 2.2em;/*تكبير الكلمة*/
    font-weight: 800;/*تضخيم الكلمة */
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;/*بيحدد الكروت جنب بعض ولاتحت بعض*/
    flex-wrap: wrap;/*عشان لما عدد الكروت تكتر ميصغروش */

}
.card{    /*هنا بقا بحدد صفات الكارت نفسه*/
    background-color: #fff;
    width: 21.25em;/* بضرب الرقم ده في 16 pxلو عايز احسبها ب ال*/
    box-shadow: 0 5px 25px rgba(1, 1, 1, 25%);/*ظل الكارت */
    border-radius:  10px;
   
    padding: 25px;
    margin: 15px;
    transition: 1s ease;
   
}
.card:hover{
    transform: scale(1.1);
  
}
.icon{
    color: rgba(0, 0, 0, 0.822);/* rgb(100, 51, 17);*/
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;

}
.info h3{
    color: rgb(187, 124, 79);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

/*///////////////////////////////// Section (Projects) ///////////////////////////////*/
.projects{
    background-color: rgb(38, 32, 29);
}
.projects .content{
    margin-top: 30px;
}
.project-card{
    background-color: #fff;
    border: 5px solid #fff; /*ده اللي بيعمل الكارت*/
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 1s ease;
}
.project-card:hover{
    transform: scale(1.1);
}
.project-card:hover .project-image{
   
    opacity: 0.9;
}
.project-image img{
    width: 100%;
   max-height:35em;
}
.project-info{
    padding: 1em;
}
.project-category{
    font-size: 0.9em;
    color: #000;
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-details{
    text-decoration: none;
    color: rgb(126, 75, 173) ;
}
.more-details:hover{
    color: rgb(83, 15, 147);
}

/*////////////////////////////////// Section (contact) /////////////////////////////////////////*/
.contact .title{
    color: rgb(64, 116, 213);
}
.contact .icon{
    font-size: 4.5em;
    color: rgb(64, 116, 213);
}
.contact .info h3{
    color: #000;
    font-weight: 800;
}
.contact .info p{
    font-size: 1em;
    font-style: oblique;
    font-weight: 700;
}
.contact .card{  
    width: 23.25em;
}
/*///////////////////////////////////// Footer ////////////////////////////////////////*/
.footer{
    background-color: rgb(38, 32, 29);
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content:space-between;
}
.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}
.footer-title span {
    color: rgb(64, 116, 213);
}
.footer .social-icons a{
    font-size: 1.3em;
    color: #fff;
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
        flex-direction: row;
       
    }
    title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main-content h2{
        font-size: 1em;
    }
    .main-content h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    .main {
        background-position: center;
    }
}
@media (max-width:641px){
    body{
        font-size: 12px;
    }
    .main-content h2{
        font-size: 0.8em;
    }
    .main-content h3{
        font-size: 1.4em;
    }

}
@media (max-width:300px){
    body{
        font-size: 10px;
    }
    .navigation a{
     flex-direction: row;
       
    }
}